* {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 450px;
}

#board {
  border: 1px solid gray;
  display: grid;
  grid-template-rows: repeat(3, 150px);
  grid-template-columns: repeat(3, 150px);
}

#board > div {
  border: 1px solid gray;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.control {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
